<!DOCTYPE html>
<html>
  <head>
    <title>MyTube</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", media: "all", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", "data-turbolinks-eval": false, defer: true %>
  </head>
  <body class="max-w-7xl mx-auto">
    <div class="main-header m-3 pb-3 border-b">
      <%= render "layouts/header" %>
    </div>

    <div class="main-content">
      <%= yield %>
    </div>

    <div class="main-footer">
    </div>
  </body>
</html>
